body {
  background-color: #001E3C;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  overflow: clip;
  contain: content;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}